/* styles.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
  }
  
  /* Container styles */
  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  /* Hero section styles */
  .hero-section {
    background-image: url('background.jpg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .hero-section p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  /* Download button styles */
  .download-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .download-button:hover {
    background-color: #218838;
  }
  
  /* Book cover styles */
  .book-cover {
    max-width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  /* About section styles */
  .about-section {
    background-color: #f8f9fa;
    padding: 50px 20px;
    text-align: center;
  }
  
  .about-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  /* Book details styles */
  .book-details {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
  }
  
  .book-details h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  /* Contact section styles */
  .contact-section {
    background-color: #6c757d;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
  }
  
  .contact-section form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: left;
  }
  
  .contact-section input,
  .contact-section textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1em;
  }
  
  .contact-section button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-section button:hover {
    background-color: #0056b3;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  