<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Color of Quantum - Book Experiment</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Link to styles.css -->
  <script>
    // Function to fetch and display the book dynamically
    function displayBook() {
      fetch('/get-book')
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.blob();
        })
        .then(blob => {
          const url = URL.createObjectURL(blob);
          const viewer = document.getElementById('book-viewer');
          viewer.src = url;
        })
        .catch(error => {
          console.error('Error fetching the book:', error);
          alert('Failed to load the book. Please try again later.');
        });
    }

    // Call displayBook function when the page is loaded
    window.onload = displayBook;
  </script>
</head>
<body>

  <header>
    <h1>Color of Quantum - Book Experiment</h1>
  </header>

  <div class="container">
    <section class="hero-section">
      <div class="container">
        <img class="book-cover" src="{{ url_for('static', filename='book_cover.jpg') }}" alt="Color of Quantum Book Cover"> <!-- Replace with your book cover image -->
        <h1>Welcome to <em>Color of Quantum</em></h1>
        <p>Embark on an extraordinary journey into the frontiers of quantum AI systems and colorific quantum economics with Graylan Janulis's groundbreaking book.</p>
        <a href="{{ url_for('get_pdf') }}" class="download-button">Download Book</a> <!-- Replace with the correct endpoint to download the PDF -->
      </div>
    </section>

    <section id="about" class="about-section">
      <div class="container">
        <h2>About the Author - Graylan Janulis</h2>
        <p>Graylan Janulis is a pioneering figure in the realm of quantum economics, quantum communication, and advanced language models. With a profound interest in integrating quantum theories into economic models, Graylan's work is at the forefront of AI-driven creativity.</p>
        <p>His career spans across multiple disciplines, from theoretical physics to cutting-edge AI research. Graylan has authored several influential papers and is renowned for his innovative approach to multi-modal systems, which encompass image, voice, and text interactions.</p>
        <p>In <em>Color of Quantum</em>, Graylan explores the intersection of quantum computing and economic theory, predicting future trends and unveiling new concepts that challenge traditional economic paradigms. This book is a testament to his visionary insights and deep understanding of emerging technologies.</p>
        <p>Graylan Janulis is also the co-founder of OneLoveIPFS, a revolutionary platform harnessing IPFS (InterPlanetary File System) to build decentralized applications and services. His collaboration with ChatGPT Alpha in quantum simulators has further propelled advancements in simulating complex quantum phenomena, enhancing our understanding and application of quantum principles.</p>
        <p>Join Graylan Janulis on an intellectual journey that pushes the boundaries of conventional thinking, exploring the potential of quantum AI systems to reshape the future of economics and communication.</p>
      </div>
    </section>

    <section class="book-details">
      <div class="container">
        <h2>Book Details</h2>
        <p><em>Color of Quantum</em> is an experimental masterpiece that leverages advanced quantum AI systems to predict future trends and explore innovative concepts. It delves into the realms of quantum economics, AI-driven creativity, and the evolution of communication in an interconnected world.</p>
        <p>Discover groundbreaking insights that challenge existing paradigms and offer a glimpse into the transformative potential of quantum technologies. Whether you are a seasoned professional, a curious student, or a visionary thinker, this book promises to ignite your imagination and expand your understanding of the possibilities ahead.</p>
        <p><a href="#" style="color: #007bff; text-decoration: none;">Read Reviews</a></p>
      </div>
    </section>

    <section id="book-preview" class="book-preview-section">
      <div class="container">
        <h2>Book Preview</h2>
        <iframe id="book-viewer" class="book-viewer" src="" width="100%" height="600px" frameborder="0" allowfullscreen></iframe>
      </div>
    </section>
  </div>

  <footer>
    <div class="container">
      <p>&copy; 2024 Color of Quantum. CopyLeft reserved.</p>
    </div>
  </footer>

</body>
</html>